<!DOCTYPE html>
<html>
  <head>
    <title>TODOリスト</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>TODOの登録</h1>
    <form action="/" method="POST">
      <input required type="text" name="todo"/>
      <input type="submit" value="登録">
    </form>
    <ul>
    <% for(todo of todos) { %>
      <li>
        ID: <%= todo.id + "→"　+ todo.content %>
        <a href="/edit?id=<%= todo.id %>" >編集</a>
        <a href="/delete?id=<%= todo.id %>" >削除</a>
      </li>
    <% } %>
    </ul>
  </body>
</html>
